.button {
    //ここに関してはボタンの一般的な設定を盛り込む
    display: inline-block;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
}

.log_button {
    //ここには、ログインボタン特有の設定を入れる
    width: 130px;
    height: 40px;
    line-height: 35px;
    margin: 10px 20px;

    color: black;
    background-color: rgb(164,216,215);
    text-decoration: none;


    &:hover {
        transition-duration: .3s;
        opacity: 0.7;
    }
}
