.log-btn {
    height: 35px;
    width: 90px;
    margin-right: 10px;
    font-size: 15px;
    font-family: 'Courier Ne, Courier, monospacew';
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: rgb(165, 162, 162);
        transition-duration: 0.3s;
    }
}
