$pc : 960px;
$tab : 520px;

@mixin pc {
    @media(min-width: ($pc)){
        @content;
    }
}

@mixin tab {
    @media(max-width : ($tab)){
        @content;
    }
}

.chat-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    border-bottom: solid 1px rgba($color: #ffffff, $alpha: 0.5);
    background-color: #111116;

    .header-title {
        a {
            display: block;
            margin: 15px 0;
            font-size: 28px;
            font-family: cursive;
            text-decoration: none;
            background: linear-gradient( to right,  rgb(240, 195, 206) 25%, rgb(189, 221, 194) 75% );
            -webkit-background-clip: text;
            color: transparent;
        }

    }
    .header-main {
        display: flex;
        justify-content: center;
        align-items: center;
        .search-box {
            margin: 10px 20px;
        }

        .navigation {
            display: flex;
            align-items: center;

            .toMypage {
                color: rgb(62, 96, 209);
                font-weight: lighter;

                &:hover {
                    color: rgb(78, 219, 219);
                }

            }
            .log-btn {
                margin-left: 20px;
            }
        }
    }
}