$pc : 960px;
$tab : 520px;

@mixin pc {
    @media(min-width: ($pc)){
        @content;
    }
}

@mixin tab {
    @media(max-width : ($tab)){
        @content;
    }
}


@include pc {
    .header {
        //全体には位置の固定を行う
        z-index: 2;
        position: fixed;
        top: 0;
        width: 100%;

        .header-inner {
            display: flex;
            justify-content: space-between;
            padding: 0 30px;

            .header-left {
                width: 190px;
                text-align: center;
            
                a {
                    //文字の調整
                    display: block;
                    margin: 15px 0;
                    font-size: 28px;
                    font-family: cursive;
                    text-decoration: none;
                    background: linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }

            .header-navi {

                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    padding-left: 0;

                    li {
                        margin: 10px 25px;

                        a {
                            font-size: 15px;
                            font-family: serif;
                            color: rgb(32, 32, 32);
                            text-decoration: none;

                            &:hover {
                                transition: 0.3s;
                                background: linear-gradient( to right,  rgb(69, 224, 164) 25%, rgba(102,51,153,1) 75% );
                                -webkit-background-clip: text;
                                color: transparent;
                            }
                        }

                    }
                }
            }

            .header-right {
                margin: 20px 0;

                .signup-btn {
                    height: 35px;
                    width: 90px;
                    font-size: 15px;
                    font-weight: 600;
                    color: white;
                    background-color: #7D2AE8;
                    border-radius: 3px;
                    border: 1px solid transparent;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                        transition-duration: 0.3s;
                    }
                }
            }
        }  
    }
}






