.channel_container { //ヘッダに関しては、あとで何らかの修正を加える。
    background-color: #1B1D21;

    .chat_main {
        .channel_information {
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
            width: 100%;
            box-sizing: border-box;
            color: white;

            margin: 30px auto;
           
            .channelName {
                font-size: 24px;
                font-weight: bolder;
            }

            .channelDetail {
                .description {
                    font-size: 13px;
                    margin: 0px;
                }
                .content {
                    margin: 5px 20px;
                    color: white;
                    font-size: 15px;
                    opacity: 0.5;
                }
            }

            .createdBy {
                .description {
                    font-size: 13px;
                }

                .content {
                    margin: 5px 20px;
                    font-size: 12px;
                    opacity: 0.5;
                }
            }
        }
        .message_form {
            border-top: 1px solid rgba($color: #ffffff, $alpha: 0.5);
            width: 100%;
            background-color: rgba($color: #2c2c2c, $alpha: 1.0);
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            

            .message_input {
                border-radius: 10px;
                margin: 20px 20px;
                width: 90%;
                height: 45px;
                box-sizing: border-box;
                font-size: 16px;
            }
            .message_submit {
                box-sizing: border-box;
                background-color: #cfcfcf;
                height: 45px;
                cursor: pointer;

                &:hover {
                    background-color: #808080;
                }
            }
        }
    }
}