<table>
    <div class="userName">
        <label for="userName">First Name</label>
        <p class="userName"><%= currentUser.fullName %></p>
    </div>
    <div class="userEmail">
        <label for="userEmail">Email</label>
        <p class="userEmail"><%= currentUser.email %></p>
    </div>
    <div class="userAge">
        <label for="userAge">Age</label>
        <p class="userAge"><%= currentUser.age %></p>
    </div>
    <div class="profile">
        <label for="profile">User詳細情報</label><!-- UIに関しては一旦おいておく　その上で、profileをUserから取り出すことができるようにする（association） -->
    </div>
</table>