<form class="userCreate">
    <div class="errorMsg"></div>
    <div>
        <label for="firstName">First Name</label>
        <input type="text" name="first" class="first" required>
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" name="last" class="last" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" class="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" class="password">
    </div>
    <div>
        <label for="passCheck">Password Confirm</label>
        <input type="password" name="passCheck" class="passCheck">
    </div>
    <div>
        <label for="age">Age</label>
        <input type="Number" name="age" class="age">
    </div>
    <input type="submit" class="submit" value="送信">
</form>
<script src="/javascripts/users/createValidation.js"></script>
<script src="/javascripts/users/createValue.js"></script>